/* OmNiGothic */
@font-face {
	font-family: "OmNiGothic";
	font-style: normal;
	font-weight: 300;
	src:url(../../fonts/210Gothic030.woff) format("woff");
}
@font-face {
	font-family: "OmNiGothic";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/210Gothic040.woff) format("woff");
}
@font-face {
	font-family: "OmNiGothic";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/210Gothic050.woff) format("woff");
}

/* HighSummit */
@font-face {
	font-family: "HighSummit";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/HighSummit.woff) format("woff");
}

/* BebasRegular */
@font-face {
	font-family: "BebasRegular";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/BebasRegular.woff) format("woff");
}